<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!--<bean id="address" class=" com.spring.six.AddressDIObject6.AddressBean"> 
		<constructor-arg value="123"/>
		<constructor-arg value="Hyderabad"/>
		<constructor-arg value="Telangana"/>
		<constructor-arg value="534005"/>
	</bean>
	<bean id="student" class=" com.spring.six.AddressDIObject6.StudentBean"> 
		<constructor-arg value="101"/>
		<constructor-arg value="Latha"/>
		<constructor-arg ref="address"/>
	</bean>-->
</beans>